[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "tmux"]
	path = tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "vim/plugged/gruvbox"]
	path = vim/plugged/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/plugged/molokai"]
	path = vim/plugged/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vim/plugged/vim-airline-themes"]
	path = vim/plugged/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/plugged/vim-markdown"]
	path = vim/plugged/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/plugged/indentLine"]
	path = vim/plugged/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "vim/plugged/ultisnips"]
	path = vim/plugged/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/plugged/vimcdoc"]
	path = vim/plugged/vimcdoc
	url = https://github.com/yianwillis/vimcdoc.git
[submodule "vim/plugged/vim-snippets"]
	path = vim/plugged/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/plugged/vim-colorschemes"]
	path = vim/plugged/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "vim/plugged/auto-pairs"]
	path = vim/plugged/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "vim/plugged/vim-airline"]
	path = vim/plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/plugged/vim-template"]
	path = vim/plugged/vim-template
	url = https://github.com/aperezdc/vim-template.git
[submodule "vim/plugged/jellybeans.vim"]
	path = vim/plugged/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
